* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url(https://github.com/Tuffu/pkm-site/blob/master/pkm%20site/img/bgimg.png?raw=true);
    
}

.content{
    width: 100vw;
    height: 100vh;
    padding: 1rem;
}

.content h1{
    color: white;;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}