* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.pokemonOrder {
    padding: 0;
    margin: 3rem 0 0 0;
    border: 0;
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokemonList {
    padding-left: 0;
    height: 20rem;
    list-style: none;
    border-radius: 2rem 2rem 0 0;
}


.pokemonTypeOl {
    padding: 2rem 0 0 2rem;
    color: #fff;
    letter-spacing: 0.7px;
    text-transform: capitalize;

}

.pokemonTypeOl span {
    display: flex;
    flex-direction: row-reverse;
    align-content: space-around;
    padding: 0px;
    margin: -20px 20px 0 0;
    border: 0px;
    font-size: 17px;
}

.pokemonTypeOl h1 {
    padding: 1rem 0 0 0.55rem;
    margin: 0;
}

.detail {
    width: 8rem;
    margin: 0;
    padding: 0;
}

.types {

    width: 8rem;
    margin: 0;
    padding: 0;
}

.type {
    padding: 0.25rem .5rem;
    margin: 0.25rem 0 0;
    font-size: .900rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
    list-style: none;
}

.detalhes img {
    width: 35%;
    height: 170px;
    margin: 0em 0rem 0rem 6rem;
    align-content: space-around;
}

.pokemon-nav {
    background-color: #f6f8fc;
    border-radius: 2rem;
    margin: -25px 0 0 0;
    padding: 2rem;
    list-style: none;
    padding: 2rem 0px 0rem 2rem;
    display: flex;

}

.pokemon-nav-li {
    padding: 10px 33px 0 0;
    font-size: 15px;

}

.pokemon-info {
    margin-top: -35px;
    padding: 0 0 3rem 0;
    background-color: #f6f8fc;
    border-radius: 0 0 2rem 2rem;
}

.pokemon-info-list {
    padding: 3rem 0 0 2rem;
    list-style: none;
    letter-spacing: 0.40px;
    font-size: 13px;

}

.pokemon-list {
    padding: 20px 0 0 0;
}